body, html{
    padding: 50px;
}

#stoplight{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
}

.light{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    font-size: 20px;
}

#btn-container{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
    padding: 10px;
}

.btn{
    margin-top: 10px;
}

